h1, h2, h3, h4, h5 {
    font-family: 'Redressed', cursive;
}
p, span, button {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #181D23;
    color: #FFFFFD;
}
.modal-bgDark {
    background-color: #181D23;
}
